/* styles.css */
:root {
    --custom-root-color: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    --custom-nav-btn-color: #fde047;




  }
  


/* rotating button  */


.filter-green{
    filter: var(--custom-root-color);
}

/* nav-menu right to left  */
.custom-nav-top-style > ul {
    display: flex;
    /* flex-direction: row-reverse; Start from right to left */
    list-style: none;
    padding: 0;
  }
  
  .custom-nav-top-style > ul > li {
    opacity: 0;
    transform: translateX(100%); /* Initial position outside the screen */
    animation: slideFromRight 0.5s ease-out forwards;
  }
  
  @keyframes slideFromRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

 /*==nav icon top to bottom==*/
  .icon-container {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding:10px;
    border-radius: 50%;
    color: #fff;
    background-color: #6a6a6a;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideFromTop 0.5s ease-out forwards;
  }
  
  @keyframes slideFromTop {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .icon-container:hover {
    background-color: #000000;
    display: flex;
    position: relative;
    padding: auto;
    /* border-radius: 0%; */
  }
/* mouse hover content in the top nav icon  */
  .hover-content{
    display:none;
  }
  .icon-container:hover .hover-content {
    display: inline-block;
    
  }


  
  .icon-container:hover svg {
    filter: var(--custom-root-color);
  }
  
  .right-to-bottom {
    position: absolute;
    top: 0; /* Align it with the top of the parent container */
    right: 0; /* Align it to the right side */
  }
  div.fixed {
    position: fixed;
    right: 0;
    
  }
  

  .reverse-nav-top-style > ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .reverse-nav-top-style > ul > li {
    opacity: 0;
    transform: translateX(-100%); /* Initial position outside the screen */
    animation: reverseSlideFromRight 0.5s ease-out forwards;
  }
  
  @keyframes reverseSlideFromRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

  @media screen and (max-width:640px) {
  .hide-md{
    display:none;
  }
  }

  .show-icon{
    margin: top 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #3182ce;
    background-color: #e2e8f0;
    opacity: 0;
    /* transform: translateY(-20px); */
    animation: slideFromTop 0.5s ease-out forwards;
  
  }



  @media screen and (min-width:640px) {
      .show-icon{
        display:none;
      }

    }

/* ================================================= */
/* navbar ends  */
/* ================================================= */
.hero{
  background-color: red;
  width: auto;
  height: 100vh;
}