/* styles.css */
:root {
    --custom-root-color: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    --custom-nav-btn-color: #fde047;




  }
  


/* rotating button  */


.filter-green{
    filter: var(--custom-root-color);
}

/* nav-menu right to left  */
.custom-nav-top-style > ul {
    display: flex;
    /* flex-direction: row-reverse; Start from right to left */
    list-style: none;
    padding: 0;
  }
  
  .custom-nav-top-style > ul > li {
    opacity: 0;
    transform: translateX(100%); /* Initial position outside the screen */
    animation: slideFromRight 0.5s ease-out forwards;
  }
  
  @keyframes slideFromRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

 
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #3182ce;
    background-color: #e2e8f0;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideFromTop 0.5s ease-out forwards;
  }
  
  @keyframes slideFromTop {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .icon-container:hover {
    background-color: #fde047;
  }
  
  .icon-container:hover svg {
    filter: var(--custom-root-color);
  }
  
  
