
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@700&display=swap');


/* styles.css */
:root {
    --custom-root-color: brightness(0);;
    --custom-nav-btn-color: #fdb447;
    --base-white-color:#fff;




  }
  
  body{
    font-family: 'Roboto', sans-serif;
  }


/* rotating button  */


.filter-green{
    filter: var(--custom-root-color);
}

/* nav-menu right to left  */
.custom-nav-top-style > ul {
    display: flex;
    /* flex-direction: row-reverse; Start from right to left */
    list-style: none;
    padding: 0;
  }
  
  .custom-nav-top-style > ul > li {
    opacity: 0;
    transform: translateX(100%); /* Initial position outside the screen */
    animation: slideFromRight 0.5s ease-out forwards;
  }
  
  @keyframes slideFromRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

 /*==nav icon top to bottom==*/
  .icon-container {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding:10px;
    border-radius: 50%;
    color: #fff;
    background-color:  #5b7c99;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideFromTop 0.5s ease-out forwards;
  }
  
  @keyframes slideFromTop {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .icon-container:hover {
    background-color:  #8c92ac;
    display: flex;
    position: relative;
    padding: auto;
    /* border-radius: 0%; */
  }
/* mouse hover content in the top nav icon  */
  .hover-content{
    display:none;
  }
  .icon-container:hover .hover-content {
    display: inline-block;
    
  }


  
  .icon-container:hover svg {
    filter: var(--custom-root-color);
  }
  
  .right-to-bottom {
    position: absolute;
    top: 0; /* Align it with the top of the parent container */
    right: 0; /* Align it to the right side */
  }
  div.fixed {
    position: fixed;
    right: 0;
    
  }
  

  .reverse-nav-top-style > ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .reverse-nav-top-style > ul > li {
    opacity: 0;
    transform: translateX(-100%); /* Initial position outside the screen */
    animation: reverseSlideFromRight 0.5s ease-out forwards;
  }
  
  @keyframes reverseSlideFromRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

  @media screen and (max-width:640px) {
  .hide-md{
    display:none;
  }
  }

  .show-icon{
    margin: top 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #3182ce;
    background-color: #e2e8f0;
    opacity: 0;
    /* transform: translateY(-20px); */
    animation: slideFromTop 0.5s ease-out forwards;
  
  }



  @media screen and (min-width:640px) {
      .show-icon{
        display:none;
      }

    }

/* ================================================= */
/* navbar ends  */
/* ================================================= */
/* Default styles for mobile devices (height: auto) */
.hero {
  background-color: rgb(244, 216, 9);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero img {
  width: auto;
  height: 100%;
  

}
@media (min-width: 768px) {
  .hero img {
    width: auto;
    height: 100vh;
    position: static; /* or 'static' to reset the position */
  }
}
.hero >.grid{
  width: 100%;
  height: 100%;
}
.profile-grid{
  background-color: #FFFF00;
}

.profile-grid  h1{
  opacity: 80%;
  /* color: red; */
  
}
.python{
  color: rgb(0, 157, 255);
}
.reactjs{
  color: rgb(0, 157, 255);
}

/* hire me button  */

.button-52{
  background-color: rgb(0, 157, 255);
  margin-top: 0%;
  padding: 5px;
  color: #FFFF00;
  border-radius: 5px;
}
.button-52:hover{
  background-color:#fdb447;
  color: rgb(0, 157, 255);
}


.profile-grid >div>hr{
  display: none;
}

.About{
  background-color:#ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}